@page
@model ContosoPizza.Pages.PizzaListModel
@{
    ViewData["Title"] = "Pizza List 🍕";
}

<h1>Pizza List 🍕</h1>

<!-- New Pizza form will go here -->

<table class="min-w-full mt-5 border-collapse">
    <thead>
        <tr>
            <th scope="col" class="px-4 py-2 border-b">Name</th>
            <th scope="col" class="px-4 py-2 border-b">Price</th>
            <th scope="col" class="px-4 py-2 border-b">Size</th>
            <th scope="col" class="px-4 py-2 border-b">Gluten Free</th>
            <th scope="col" class="px-4 py-2 border-b">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model.PizzaList)
        {
            <tr>
                <td class="px-4 py-2 border-b">@pizza.Name</td>
                <td class="px-4 py-2 border-b">@($"{pizza.Price:C}")</td>
                <td class="px-4 py-2 border-b">@pizza.Size</td>
                <td class="px-4 py-2 border-b">@(pizza.IsGlutenFree ? "✔️" : string.Empty)</td>
                <td class="px-4 py-2 border-b">
                    <form method="post" asp-page-handler="Delete" asp-route-id="@pizza.Id">
                        <button class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
